.container {
  background: #F9F2ED
}

.hidden {
  display:none;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid #F87474;
  border-width: 10px;
  padding: 10px;
  background-color: #FFB562;
  box-sizing: border-box;
}

.description {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid #F87474;
  border-width: 10px;
  padding: 10px;
  background-color: #FFB562;
  box-sizing: border-box;
}



.formBox {
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid #F87474;
  border-width: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #E8F9FD;
  box-sizing: border-box;
}